# HTTP SERVER
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name gravity-web.ddnsking.com www.gravity-web.ddnsking.com;
    return 301 https://$host$request_uri;
}

# SSL SERVER
server {
    server_tokens off;
    listen 443 ssl;
    server_name gravity-web.ddnsking.com www.gravity-web.ddnsking.com;

        location /api/ {
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-Host $host;
            proxy_set_header X-Forwarded-Server $host;
            proxy_pass http://aggregation:9000/;
        }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_pass http://web:3000/;
    }

    ssl_certificate /etc/letsencrypt/live/gravity-web.ddnsking.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/gravity-web.ddnsking.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}